{% extends 'base.html' %}

{% block content %}
    <section>
    <h3>Lista de perros</h3>

    <ul class="section-list">
        {% for perro in perros %}
        {% if perro.estado %}
            <li><a href="{% url 'detailperro' perro.id %}">{{ perro.nombre }}</a></li>
        {% endif %}
        {% empty %}
            <li>No hay perros disponibles.</li>
        {% endfor %}
    </ul>
</section>
    <section>
    <a class="adopt-btn" href="{% url 'createperro' %}" >Necesito que me adopten!</a>
    </section>
{% endblock %}
