{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <h1>Detalle del perro</h1>
    <br>
        <img src="" alt="">
        <p>Nombre: {{ perro.nombre }}</p>
        <p>Edad: {{ perro.edad }}</p> 
        <p>Raza: {{ perro.raza }}</p>
        <br>
        <a href="{% url 'adoptperro' perro.id %}">Adoptame 🐶</a>

        <br>

        <a href="{% url 'updateperro' perro.id %}" class="button">Editar</a>
        <a href="{% url 'perrolist' %}" class="button">Cancelar</a>
        
{% endblock %}
