{% extends 'base.html' %}
    
{% block heading_2 %}
    {% if perro %}{{ perro.nombre }}{% else %}Nuevo perro{% endif %}
{% endblock %}
{% block content %}
 <section>
    <h3>
        {% if perro %}Actualizar{% else %}Crear{% endif %}
        perro
    </h3>


    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
    </section>
    <section class="btn-redirect">
        <button class="adopt-btn" type="submit">Guardar</button>
        <a class="adopt-btn" href="{% url 'perrolist' %}" class="button">Cancelar</a>
    </form>
    </section>
{% endblock %}
