{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <section>
    <h1>Detalle del gato</h1>
    <br>
        <img src="" alt="">
        <p>Nombre: {{ gato.nombre }}</p>
        <p>Edad: {{ gato.edad }}</p> 
        <p>Raza: {{ gato.raza }}</p>
    </section>
    <section class="btn-redirect">
        {% if gato.estado %}
            <a class="adopt-btn" href="{% url 'adoptgato' gato.id %}">Adoptame 😺</a>

            <a class="adopt-btn" href="{% url 'updategato' gato.id %}" class="button">Editar</a>
            <a class="adopt-btn" href="{% url 'gatolist' %}" class="button">Volver</a>
        {% else %}
        <a class="adopt-btn" href="{% url 'home' %}" class="button">Volver</a>
        {% endif %}
    </section>

      
{% endblock %}
