{% extends 'base.html' %}

{% block content %}
    <section>
    <h3>Lista de gatos</h3>

    <ul>
        {% for gato in gatos %}
        {% if gato.estado %}
            <li><a href="{% url 'detailgato' gato.id %}">{{ gato.nombre }}</a></li>
        {% endif %}
        {% empty %}
            <li>No hay gatos disponibles.</li>
        {% endfor %}
    </ul>
    </section> 
    <section>
    <a class="adopt-btn" href="{% url 'creategato' %}" class="button">Necesito que me adopten!</a>
    </section>
{% endblock %}
