{% extends 'base.html' %}


{% block content %}
    <section>
    <h3>¿VAS A ADOPTARME?</h3>

    <div class="details">
        <p>¿Estás seguro de que quieres adoptar a "{{ gato.nombre }}"?</p>
    </div>
    </section>
    <section class="btn-redirect">
    <form method="post">
        {% csrf_token %}
        <button class="adopt-btn" type="submit">Confirmar</button>
        <a class="adopt-btn" href="{% url 'gatolist' %}" class="button">Cancelar</a>
    </form>
    </section>
{% endblock %}
